<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blogify - Personal Blog App</title>
    <meta name="description" content="Blogify - Personal Blog App" />

    <%- include('./partials/head') %>
  </head>
  <body>
    <header>
      <%- include('./partials/navbar') %> <%= JSON.stringify(user) %>
    </header>
    <main>
      <section class="pt-4">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="text-center">Home Page</h1>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer></footer>

    <%- include('./partials/scripts') %>
  </body>
</html>
